sourceDir = "{{ .chezmoi.homeDir }}/code/dotfiles"

[edit]
    apply = true
[merge]
    command = "nvim"
    args = ["-d", "{{ "{{ .Destination }}" }}", "{{ "{{ .Source }}" }}", "{{ "{{ .Target }}" }}"]
[hooks.update.post]
    command = "bash"
    args = [ "-c", "! command -v update-passwords >/dev/null 2>&1 || update-passwords" ]
[data]
    gpg.enabled = {{ or (eq .chezmoi.hostname "slate") (eq .chezmoi.hostname "xps13") (eq .chezmoi.hostname "Chloes-MBP") (eq .chezmoi.hostname "x1") (eq .chezmoi.hostname "black") }}
    desktop.linux = {{ or (eq .chezmoi.hostname "black") (eq .chezmoi.hostname "xps13") }}
