AGENTS.md
amp-AGENTS.md
assets
license
readme.md
lazy-lock.json
install.sh
{{ if eq .chezmoi.os "linux" -}}
icloud
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
dot_bin/executable_swap_ctrl_caps
{{ end -}}
.config/opencode/opencode.local.json
