{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
# vi: set ft=bash
set -e

sudo dnf install -y \
	ShellCheck \
	bash-completion \
	chezmoi \
	fd-find \
	fish \
	fzf \
	gh \
	git-lfs \
	gnupg2 \
	golang \
	gopass \
	hugo \
	jetbrains-mono-fonts \
	jq \
	neovim \
	nodejs \
	npm \
	pass \
	pass-otp \
	ripgrep \
	tree \
	tree-sitter-cli \
	tmux \
	wget2-wget \
	wl-clipboard \
	zig

# ensure fish is the login shell
fedora_fish={{ lookPath "fish" }}
if ! grep --quiet "$fedora_fish" /etc/shells; then
	echo "$fedora_fish" | sudo tee -a /etc/shells
fi
if [ "$SHELL" != "$fedora_fish" ]; then
	chsh -s "$fedora_fish"
fi

{{ if .desktop.linux -}}
sudo dnf install -y \
	ImageMagick \
	gnome-extensions-app \
	gnome-tweaks \
	meld \
	powertop \
	syncthing \
	yt-dlp

flatpak install --assumeyes \
	com.spotify.Client \
	md.obsidian.Obsidian \
	org.signal.Signal \
	org.telegram.desktop \
	org.zotero.Zotero

{{ end -}}
# install opencode
if ! command -v opencode > /dev/null; then
	echo '>installing opencode'
	curl -fsSL https://opencode.ai/install | bash
fi

if [ ! -d "$HOME/.tmux/plugins/tpm" ]; then
	echo '>installing TPM'
	git clone https://github.com/tmux-plugins/tpm "$HOME/.tmux/plugins/tpm"
fi

{{ end }}
