{{ if .gpg.enabled -}}
#!/usr/bin/env bash
# vi: set ft=bash
set -e

{{ if .work.laptop -}}
pass_dir="$HOME/.password-store-personal"
{{ else -}}
pass_dir="$HOME/.password-store"
{{ end -}}

if [ ! -e "$pass_dir" ]; then
	echo '>setting up pass'
	git clone REDACTED "$pass_dir"
fi
{{ end }}
