{{ if .desktop -}}
#!/usr/bin/env bash
# vi: set ft=bash
set -e

if ! gpg --list-key REDACTED@REDACTED.io > /dev/null; then
	echo '>setting up GPG'
	echo 'Insert the smartcard'
	read -r
	echo 'Fetch the public key'
	gpg --edit-card
	echo 'Set key trust level'
	gpg --edit-key REDACTED@REDACTED.io
fi
{{ end }}
