Include ~/.ssh/local_config
{{- if eq .chezmoi.os "darwin" }}
Include ~/.colima/ssh_config
{{- end }}
Host *
	AddKeysToAgent yes
	{{- if eq .chezmoi.os "darwin" }}
	UseKeychain yes
	{{- end }}
	HashKnownHosts no
{{- if .desktop }}
	IdentityFile ~/.ssh/id_ed25519_sk
	IdentityFile ~/.ssh/id_ed25519
{{- end }}
{{ if .desktop }}
Host REDACTED greenhouse slate
	ForwardAgent yes
{{ end -}}
