Include ~/.ssh/local_config
{{- if eq .chezmoi.os "darwin" }}
Include ~/.colima/ssh_config
{{- end }}
Host *
	AddKeysToAgent yes
	{{- if eq .chezmoi.os "darwin" }}
	UseKeychain yes
	{{- end }}
	HashKnownHosts no

Host github.com REDACTED
	IdentityFile ~/.ssh/id_ed25519
	{{- if .desktop }}
	{{- if eq .chezmoi.os "darwin" }}
	PKCS11Provider /opt/homebrew/lib/libykcs11.dylib
	{{- else }}
	PKCS11Provider /usr/lib64/libykcs11.so.2
	{{- end }}
	{{- end }}
