{{ if .desktop -}}
# YubiKey slot references managed by chezmoi. The passage identities
# run script adds a machine-local identity only on Slate.
# YubiKey 5C Nano
AGE-PLUGIN-YUBIKEY-1WCAQ6QVZ797L4HG7XWX8W
# YubiKey 5 NFC
AGE-PLUGIN-YUBIKEY-1J07W6QYZ0S9AMNC4FGR7D
{{ end -}}
